# La catastrophe du Titanic
Le RMS Titanic est un paquebot transatlantique britannique qui fait naufrage dans l’océan Atlantique Nord en 1912 à la suite d’une collision avec un iceberg, lors de son voyage inaugural de Southampton à New York. C’est l’une des plus grandes catastrophes maritimes survenues en temps de paix et la plus grande pour l’époque. Le drame met en évidence l’insuffisance des règles de sécurité de l’époque, notamment le nombre insuffisant de canots de sauvetage et les carences dans les procédures d’évacuation d’urgence. 

Source : Wikipédia

<div class="alert alert-info">
<b>Travail à faire : </b> Exécuter le code dans la cellule suivante, 2 possibilités :
    <li> cliquer sur la petite flèche (bouton Run ou Exécuter)
   <li> appuyer simultanément sur les touches shift et entrée
</div>

In [ ]:
%matplotlib inline

import matplotlib.pyplot as plt
import pandas
csv_file = 'data/titanic-perso.csv' # stocke le chemin vers le fichier de données dans le répertoire data
data = pandas.read_csv(csv_file, sep =';')

Cette cellule de code importe les bibliothèques nécessaires au traitement des données :
* pyplot pour faire des fichiers
* pandas pour traiter les données du fichier csv

Puis on stocke les informations du fichier csv dans un objet appelé ici __data__ (type d'objet = dataframe de pandas).

En écrivant le nom de la variable on peut voir comment sont organisées les donnéees :

In [ ]:
data

<div class="alert alert-info">
<b>Travail à faire : </b> Après avoir exécuté le code dans les cellules précédentes, répondre aux questions de la fiche.
       <li> Quels sont les descripteurs ?
       <li> Sachant que Miss. Elisabeth Walton Allen a survécu au naufrage, que signifie le nombre 1 pour le descipteur survie ?
</div>

<div class="alert alert-info">
<b>Travail à faire : </b> Après avoir modifié le code dans la cellule suivante, répondre aux questions de la fiche.
       <li> Faire une phrase décrivant la personne correspondant à l'objet 314 de la base de données et son destin
</div>

In [ ]:
data.loc[2] #

La commande `.describe()` permet d'obtenir rapidement des informations sur les données.

* _mean_ signifie moyenne
* _std_ correspond à l'écart-type
* _min_ et_max_ ont un sens évident
* _25 %_, _50 %_ et _75 %_ permettent de classer les données en quartiles.

In [ ]:
data.describe()

<div class="alert alert-info">
<b>Travail à faire : </b> Après avoir exécuter le code dans les cellules précédentes, répondre aux questions de la fiche.
       <li> L’âge moyen des passagers
       <li> Le tarif moyen payé
       <li> L'age du passager le plus agé
       <li> Le taux moyen de survie (pourcentage exprimé entre 0 et 1)
</div>

Il est possible d'obtenir des résultats similaires avec la commande suivante :

In [ ]:
data['age'].mean()

<div class="alert alert-info">
<b>Travail à faire : </b> 
    <li> écrire le code Python pour obtenir la moyenne de l'indicateur survie
</div>

In [ ]:
# Ecrire votre code ici

# Influence de la classe sociale sur la survie :
Il n’y avait pas suffisamment de places dans les canots de sauvetage du Titanic pour tous les passagers et les membres de l’équipage (et certains canots sont partis à peine remplis).

On souhaite  examiner l’influence de la classe sociale des passagers notamment sur la survie. Pour cela on va filtrer les données selon la classe et afficher les valeurs moyennes des différents descripteurs.

<div class="alert alert-info">
<b>Travail à faire :  </b> 
    <li> Exécuter les lignes de code suivantes
    <li> Compléter le tableau de la fiche réponse
        
</div>

In [ ]:
gr1 = data.groupby(['classe']).mean()

In [ ]:
gr1 # pour afficher le résultat

# Influence du sexe sur la survie :
Dans le film de James Cameron, lors de l’évacuation du Titanic, on voit que les femmes embarquent davantage sur les canots que les hommes. On peut donc supposer que la fréquence de survie pour les femmes a été supérieure à celle des hommes. Est-ce la réalité ?

Répondre en adoptant une démarche similaire à celle utilisée à la question précédente.

<div class="alert alert-info">
<b>Travail à faire :  </b> 
    <li> proposer une ligne de code (ci-dessous)
    <li> Compléter la fiche réponse
        
</div>

In [ ]:
#votre code ici

On peut avoir encore plus d'informations en analysant la survie selon le sexe et la classe :

In [ ]:
gr3 = data.groupby(['classe','sexe']).mean()
gr3

Les inégalités sont très fortes selon la classe. Alors que 49 % des femmes de 3ème classe vont survivre, 89 % des femmes de 2nde classe et 97 % des femmes de 1ère classe vont survivre !
Les canots de sauvetage étaient donc essentiellement composés de passagères de 1ère et 2ème classe. . .

# Recherche d'un passager selon des critères :
On veut rechercher le passager le plus agé, de classe 3 et ayant survécu.
Ci-dessous unexemple de ligne de code qui permet de trier la base de données.

Dans le cas ci-dessous, nous avons trié par age croissant, par classe décroissante et par survie décroissante (survivants en premier).

Nous avons ainsi obtenu le plus jeune passager de classe 3 à avoir survécu.

In [ ]:
data.sort_values(['age','classe','survie', ],ascending = [True, False, False] )

<div class="alert alert-info">
<b>Travail à faire :  </b> 
    <li> Proposer ci-dessous une ligne de code pour obtenir le passager le plus agé de classe 3 ayant survécu
    <li> Compléter la fiche réponse
        
</div>

In [ ]:
#votre code ici

<div class="alert alert-success">
<b>Félicitations ! Vous êtes arrivé au bout du travail demandé. N'oubliez pas de :  </b> 
    <li> Compléter le tableau de la fiche réponse
</div>

Envie d'en découvrir plus...

Une autre façon de trouver la personne la plus agée ayant survécu au naufrage et en classe 3 :

In [ ]:
data[ data.classe.eq(3) & data.survie.eq(1)].sort_values('age', ascending = False)

On peut compter le nombre de passagers selon un critère

In [ ]:
data['sexe'].value_counts()

Proposer un code qui permet de connaitre le nombre de survivants et de décès :

In [ ]:
#votre code ici

On peut tracer des histogrammes avec matplotlib :

Exemple : histogramme des tarifs des billts

In [ ]:
data['tarif'].plot(kind="hist")
plt.show()

Proposer un code qui affiche l'histogramme des tarifs des cabines :

In [ ]:
#votre code ici

On peut améliorer la compréhension des relations entre les données avec une bibliothèque de traitement des données : seaborn

In [ ]:
import seaborn as sns # Visualisation des données

In [ ]:
plt.figure(figsize=(12,8))
sns.heatmap(data.corr(), annot=True, cmap="coolwarm")

## C'est joli mais comment on l'utilise ?

Une matrice de corrélation est utilisée pour évaluer la dépendence entre plusieurs variables en même temps. <br>
Le résultat est une table contenant les coefficients de corrélation entre chaque variable et les autres. <br>

Le résultat 1 correspond à une corrélation parfaite entre les données : sur la diagonale, on compare des données identiques : c'est donc forcément 100 %  de corrélation <br>
Le résultat 0 correspond à l'absence de corrélation.
Un résultat négatif -1 correspond à une corrélation négative : plus une valeur est grande, plus l'autre est petite.

Autre exemple : on voit la corrélation entre le sexe et la survie : un taux de corrélation de 0,53 qui signifie que plus le sexe est élevé (2 pour femme contre 1 pour homme) plus la survie est élevée ( 1 pour survie et 0 pour décès).

Comment interpréter alors  :
1) la corrélation négative entre le tarif et la classe ? <br>
2) La corrélation négative entre la survie et la classe ?